@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Light theme (default) */
:root {
  --background: #f8f8f8;
  --text: #1a1a1a;
  --primary: #d2b48c;
  --secondary: #f5ede0;
  --accent: #eaeaea;
  --surface-color: #ffffff; /* Card backgrounds */
}

/* Dark theme variables */
[data-theme='dark'] {
  --background: #1a1a1a;
  --text: #f8f8f8;
  --primary: #d2b48c;
  --secondary: #333333;
  --accent: #444444;
  --surface-color: #2a2a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s; /* Adds a smooth transition effect */
}